* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: #24252A;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 65px;
}

.container span {
    color: crimson;;
    font-weight: bolder;
    font-size: 2rem;
    font-style: italic;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #edf0f1;
    transition: color 0.3s ease-in-out;
}

.navbar-list a:hover {
    color: crimson;
}